/* Theme switch - please see file `system.css` for details */
:root {
  /* Strength colors */
  --color-strongest: hsl(0deg, 0%, 0%);
  --color-stronger: hsl(0deg, 0%, 20%);
  --color-strong: hsl(0deg, 0%, 40%);
  --color-weak: hsl(0deg, 0%, 60%);
  --color-weaker: hsl(0deg, 0%, 80%);
  --color-weakest: hsl(0deg, 0%, 100%);

  /* Rainbow colors */
  --color-red: "#FF0000";
  --color-orange: "#FFA500";
  --color-yellow: "#FFFF00";
  --color-green: "#008000";
  --color-blue: "#0000FF";
  --color-indigo: "#4B0082";
  --color-violet: "#4B0082";
}
