/* Theme switch - please see file `system.css` for details */
:root {
  --color-weakest: hsl(0deg, 0%, 100%);
  --color-weaker: hsl(0deg, 0%, 80%);
  --color-weak: hsl(0deg, 0%, 60%);
  --color-strong: hsl(0deg, 0%, 40%);
  --color-stronger: hsl(0deg, 0%, 20%);
  --color-strongest: hsl(0deg, 0%, 0%);
}
