/*

Theme switch

https://nicobachner.com/sveltekit-theme-switch

Complementary files:

* src/global.d.ts
* src/lib/stores.ts
* src/lib/components/ThemeSwitch.svelte
* static/theme/{system,light,dark}.css          

The file `light.css` and file `dark.css` are straightforward.

The file `system.css` requires more attention. This is because we need to think
about the user's system preferences. While the prefers-color-scheme media query
makes accessing the user's preference a straightforward process, we need to keep
in mind that the browser provides only two predefined choices, light and dark.
Hence we need to style accordingly.

*/

@media (prefers-color-scheme: light) {
  :root {
    /* Strength colors */
    --color-strongest: hsl(0deg, 0%, 0%);
    --color-stronger: hsl(0deg, 0%, 20%);
    --color-strong: hsl(0deg, 0%, 40%);
    --color-weak: hsl(0deg, 0%, 60%);
    --color-weaker: hsl(0deg, 0%, 80%);
    --color-weakest: hsl(0deg, 0%, 100%);

    /* Rainbow colors */
    --color-red: "#FF0000";
    --color-orange: "#FFA500";
    --color-yellow: "#FFFF00";
    --color-green: "#008000";
    --color-blue: "#0000FF";
    --color-indigo: "#4B0082";
    --color-violet: "#4B0082";
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Strength colors */
    --color-strongest: hsl(0deg, 0%, 100%);
    --color-stronger: hsl(0deg, 0%, 80%);
    --color-strong: hsl(0deg, 0%, 60%);
    --color-weak: hsl(0deg, 0%, 40%);
    --color-weaker: hsl(0deg, 0%, 20%);
    --color-weakest: hsl(0deg, 0%, 0%);

    /* Rainbow colors */
    --color-red: "#FF0000";
    --color-orange: "#FFA500";
    --color-yellow: "#FFFF00";
    --color-green: "#008000";
    --color-blue: "#0000FF";
    --color-indigo: "#4B0082";
    --color-violet: "#4B0082";
  }
}
